<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= film.title %> - Detalji</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/film.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <nav>
            <div class="header-left">
                <ul class="header-left-list">
                    <li>
                        <a href="/" class="logo">
                            <img src="/images/MBlogo.png" width="30" height="30" alt="Logo" class="logo-img">
                            <h4>MovieBase</h4>
                        </a>
                    </li>                    
                    <li><a href="/pretrazi?category=movie">Movies</a></li>
                    <li><a href="/pretrazi?category=tv">TV Shows</a></li>
                    <li><a href="/pretrazi?category=person">People</a></li>
                    <li><a href="#">More</a></li>
                </ul>
            </div>

            <div class="header-right">
                <ul class="header-right-list">
                    <li><a href="/" class="logo">Login</a></li>
                    <li>
                        <a href="/pretrazi?category=movie">
                            <i class="fas fa-search"></i>Search
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="film-section">
        <div class="film-header" style="background-image: url('https://image.tmdb.org/t/p/original<%= film.backdrop_path || film.poster_path %>');">
            <div class="overlay"></div>
            <div class="film-content-wrapper">
                <div class="film-content-container">
                    <div class="poster-container">
                        <img src="https://image.tmdb.org/t/p/w300<%= film.poster_path %>" alt="<%= film.title %> Poster" class="film-poster">
                        <% if (film.videos && film.videos.results.length > 0) { %>
                            <button class="action-btn play-trailer" onclick="playTrailer()" title="Pogledaj trailer">
                                <i class="fas fa-play"></i> Play Trailer
                            </button>
                        <% } %>
                    </div>
                    <div class="film-info-wrapper">
                        <div class="film-info">
                            <div class="title-wrapper">
                                <h1><%= film.title %> <span class="release-year">(<%= film.release_date ? film.release_date.substr(0, 4) : 'N/A' %>)</span></h1>
                            </div>

                            <div class="score-wrapper">
                                <div class="score-container scuser">
                                    <p>User Score</p>
                                    <div class="score-box" style="--score-color: <%= userScoreColor %>;">
                                        <span><%= userScore || 'N/A' %></span>
                                    </div>
                                </div>
                                
                                <div class="score-container sctmdb">
                                    <p>TMDB Score</p>
                                    <div class="score-box" style="--score-color: <%= tmdbScoreColor %>;">
                                        <span><%= tmdbRating || 'N/A' %></span>
                                    </div>
                                </div>
                                
                            </div>   

                            <div class="overview-wrapper">
                                <h3>Overview</h3>
                                <p><%= film.overview %></p>
                                <p class="director"><strong>Director:</strong> <%= direktor || 'N/A' %></p>
                            </div>                        
                            
                            <div class="film-actions">
                                <button id="favorite-btn" class="action-btn favorite" title="Dodaj u favorite">
                                    <i class="far fa-heart"></i>
                                </button>

                                <button class="action-btn add-to-list" title="Dodaj na listu">
                                    <i class="fas fa-plus"></i>
                                </button>

                                <a href="/film/<%= film.id %>/detalji" class="action-btn details-btn" title="See detailed information">
                                    <i class="fas fa-info-circle"></i> More Details
                                </a>
                            </div>

                            <div class="misc-wrapper">
                                <span><%= film.release_date %></span>
                                <span><%= film.genres.map(genre => genre.name).join(', ') %></span>
                                <span>
                                    <%= `${Math.floor(film.runtime / 60)}h ${film.runtime % 60}m` %>
                                </span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="trailer-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeTrailer()">&times;</span>
            <iframe id="trailer-video" width="708px" height="400px" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="main-content-wrapper">
        <div class="cast-wrapper">
            <div class="content-wrapper">
                <section class="film-cast">
                    <h2>Top Bill Cast</h2>
                    <div class="cast-scroll-wrapper">
                        <div class="cast-horizontal-scroll">
                            <% film.credits.cast.slice(0, 10).forEach(actor => { %>
                                <div class="cast-card">
                                    <div class="cast-frame">
                                        <a href="/osoba/<%= actor.id %>">
                                            <img src="<%= actor.profile_path ? `https://image.tmdb.org/t/p/w200${actor.profile_path}` : '/images/placeholder.jpg' %>" alt="<%= actor.name %>">
                                        </a>
                                        <div class="cast-info">
                                            <p class="cast-name"><strong><%= actor.name %></strong></p>
                                            <p class="cast-character"><%= actor.character %></p>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </section>
                <a href="/film/<%= film.id %>/glumci" class="capitalLink">Full Cast & Crew</a>
                <div class="hrLine">
                    <hr>
                </div>

                <section class="comments-section">
                    <h2>Reviews</h2>
                    <% if (komentar) { %>
                        <div class="comment">
                            <p><strong>Korisnik:</strong> <%= komentar %></p>
                        </div>
                    <% } else { %>
                        <p>Još nema recenzija za ovaj film.</p>
                    <% } %>
                </section>
            </div>
        </div>

        <!-- <div class="divider"></div> -->

        <div class="recommend-wrapper">
            <div class="recommend">
                <h2>Recommendations</h2>
                <div class="recommend-grid">
                    <% preporuke.forEach(preporuka => { %>
                        <div class="recommend-card"
                            data-image="<%= preporuka.backdrop_path ? 'https://image.tmdb.org/t/p/w780' + preporuka.backdrop_path : '/images/placeholder.jpg' %>">
                            <a href="/film/<%= preporuka.id %>">
                                <div class="poster"></div>
                                <div class="recommend-naslov">
                                    <p><%= preporuka.title %></p>
                                </div>
                            </a>
                            <div class="rating">
                                <% 
                                    const stars = Math.round(preporuka.vote_average / 2);
                                    for (let i = 0; i < stars; i++) { 
                                %>
                                    <span class="star">&#9733;</span>
                                <% } %>
                                <% for (let i = stars; i < 5; i++) { %>
                                    <span class="star" style="color: gray;">&#9733;</span>
                                <% } %>
                                <span class="score"><%= preporuka.vote_average.toFixed(1) %></span>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        
        
    </div>

    <div class="blank"></div>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <h2>Moviebase</h2>
                <p>Your trusted source for entertainment.</p>
            </div>
            <div class="footer-middle">
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <p>&copy; 2024 Moviebase. All rights reserved.</p>
                <p>Follow us:</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
    
    

    <script>
        function playTrailer() {
            const trailerKey = '<%= film.videos.results.find(video => video.type === "Trailer")?.key %>';
            if (trailerKey) {
                const modal = document.getElementById('trailer-modal');
                const iframe = document.getElementById('trailer-video');
                iframe.src = `https://www.youtube.com/embed/${trailerKey}`;
                modal.style.display = 'flex';
            } else {
                console.warn("Trailer nije pronađen za ovaj film.");
            }
        }

        function closeTrailer() {
            const modal = document.getElementById('trailer-modal');
            const iframe = document.getElementById('trailer-video');
            iframe.src = '';
            modal.style.display = 'none';
        }

        function getScoreColor(score) {
            if (!score || isNaN(score)) return 'grey'; 
            const red = Math.min(255, Math.max(0, 255 - Math.round((score / 10) * 255)));
            const green = Math.min(255, Math.max(0, Math.round((score / 10) * 255)));
            return `rgb(${red}, ${green}, 0)`; 
        }

        document.getElementById("favorite-btn").addEventListener("click", function () {
            const icon = this.querySelector("i");
            if (icon.classList.contains("far")) {
                icon.classList.remove("far");
                icon.classList.add("fas");
                icon.style.color = "red";
            } else {
                icon.classList.remove("fas");
                icon.classList.add("far");
                icon.style.color = "white";
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            const recommendCards = document.querySelectorAll(".recommend-card");
            recommendCards.forEach(card => {
                const imageUrl = card.getAttribute("data-image");
                card.querySelector(".poster").style.backgroundImage = `url('${imageUrl}')`;
            });
        });
        
    </script>
</body>
</html>
