<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmovi Popis</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="search-section">
            <form action="/pretrazi" method="get">
                <input type="text" id="naziv" name="naziv" value="<%= naziv %>" required placeholder="Pretraži filmove, serije...">

                <select name="category" id="category">
                    <option value="movie" <%= category === 'movie' ? 'selected' : '' %>>Movies</option>
                    <option value="tv" <%= category === 'tv' ? 'selected' : '' %>>TV Shows</option>
                </select>                
                
                <button type="submit">Pretraži</button>
            </form>
        </section>
    </main>

    <%- include('partials/footer') %>

</body>
</html>
